<section class=" mx-auto my-60 w-full px-0 sm:px-16 md:px-24 lg:px-40  ">
    <div class="w-2/3 mx-auto text-center ">
     <p class="text-green-500 font-bold">What We Are Boing</p>
     <h1 class="text-xl sm:text-2xl md:text-3xl text-hinding font-bold tracking-wider leading-relaxed">We Arrange Many Social Events For Charity Donation</h1>
 </div>
 @for (item of donation; track $index) {
     <div class="md:flex my-10">
         <img src={{item.image}} alt="image not load">
         <div class="  py-12 w-full md:-4  ">
             <h1 class="text-3xl text-hinding font-semibold ">{{item.heading}}</h1>
         <div class="flex gap-x-6 my-4 text-gray-400">
             <h1>8:30 - 930am</h1>
             <h1>18.01.2021</h1>
             <h1>Athens,Greece</h1>
         </div>
     </div>
 </div>
    }
 </section> 
