
<div class=" w-full min-h-40 py-12 flex flex-wrap justify-evenly backgroundimage text-white">
    <div class="text-center">
      <div class="text-4xl font-bold" id="counter1">0</div>
      <div class="text-lg">Donation</div>
    </div>
    <div class="text-center">
      <div class="text-4xl font-bold" id="counter2">0</div>
      <div class="text-lg">Fund Raised</div>
    </div>
    <div class="text-center">
      <div class="text-4xl font-bold" id="counter3">0</div>
      <div class="text-lg">Donation</div>
    </div>
    <div class="text-center">
      <div class="text-4xl font-bold" id="counter4">0</div>
      <div class="text-lg">Donation</div>
    </div>
  </div>
  