 <section>
    <div class="w-full h-screen settingbackgroundimage relative ">
    
        <div class="  container w-4/5 sm:w-3/5   absolute top-28 left-2 sm:left-16 md:left-20 ">
            <h1 class="text-3xl sm:text-3xl md:text-6xl text-hinding font-bold">Our Helping To </h1>
            <h1 class="text-3xl sm:text-3xl md:text-6xl text-hinding font-bold sm:my-4 md:my-8 ">The World</h1>
            <p class="text-textcolor">Onsectetur adipiscring elit, sed do eiusmod tempor  incididunt 
                ut bore et  dolore magnt, <br/>sed do eiusmod.</p>
                <div class="my-2 sm:my-6 md:my-8">
                    <Button class="sm:ms-7 md:ms-10 mb-2 inline-block px-12 py-4 border-2 relative  border-green-400 text-white addcss">Donation</Button>

                    <h1 class="inline-block text-xl font-semibold text-textcolor  ms-6">+12 1325 41</h1>
                </div>
        </div>
       
    </div>
</section> 

<app-flowsection></app-flowsection>

 <app-divimage></app-divimage>

<app-card></app-card>

<app-donations></app-donations>
 <app-employer></app-employer>
<app-image-attact-section></app-image-attact-section>

<app-carousel></app-carousel>
<app-counter></app-counter>


